@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="divForma" style="text-align:center; border-style:groove;">
<h1>@ViewBag.Movie.Title</h1>
<div id="teloForme">
<p><b>Autor:</b> @ViewBag.Movie.Author</p>
<p><b>Opis:</b>  @ViewBag.Movie.Description</p>
<p><b>Zanr:</b>  @ViewBag.Movie.Genre</p>
</div>
</div>
